/* Added in, changing the colour scheme to something aesthetically pleasing  */
body {
    background: rgb(174,150,9);
    background: linear-gradient(90deg, rgba(174,150,9,1) 0%, rgba(213,213,90,1) 4%, rgba(219,212,118,1) 50%, rgba(213,213,90,1) 97%, rgba(174,150,9,1) 100%);
    }

p{
    font-family: Garamond, serif;
}

h1,h2,h3,h4,h5,h6{
    font-weight:bold;
}

div.caption{ 
    font-style:italic;
}

        
img{
    mix-blend-mode: multiply;
}


a:link{
    color:black;
    background: rgba(219,212,118,1);
}

a {
    background-color:rgba(213,213,90,1)
}


